Repository travis-ci/dpl, pull requests merged in 2018-11, with the labels that each got.

#831 Add app_name option to Cloud Foundry provider
  README.md
  lib/dpl/provider/anynines.rb
  lib/dpl/provider/bluemix_cloud_foundry.rb
  lib/dpl/provider/cloud_foundry.rb
Labels: provider: cloud_foundry

#926 Ignore gemspec option when looking for gem file to upload
  lib/dpl/provider/rubygems.rb
  spec/provider/rubygems_spec.rb
Labels: provider: rubygems

#923 Releases improvements
  lib/dpl/provider.rb
  lib/dpl/provider/atlas.rb
  lib/dpl/provider/releases.rb
  lib/dpl/provider/script.rb
  spec/provider/releases_spec.rb
Labels: provider: releases (GitHub Releases)

#929 Set target_commitish only for same repo
  lib/dpl/provider/releases.rb
Labels: provider: releases (GitHub Releases)

#930 Upgrade Firebase to v6.1
  lib/dpl/provider/firebase.rb
Labels: provider: firebase

#931 Set a custom user-agent for all heroku API calls
  gemspec_helper.rb
  lib/dpl/provider/heroku/api.rb
  lib/dpl/provider/heroku/generic.rb
  spec/provider/heroku_spec.rb
Labels: provider: heroku
